div.hidden {
  display: none;
}

div.active {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

img.bigcoin {
  width: 50px;
}

img.smallcoin {
  width: 50px;
}

h1.title {
  padding-top: 70px;
  text-align: center;
}

form {
  padding-top: 70px;
  text-align: center;
}

p {
  padding-top: 70px;
}

nav {
  position: absolute;
  left: 0px;
  height: 20px;
  width: 100%;
  text-align: center;
}

table.middle {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
